<div style = "text-align: left"><font size = 8 color = "#B22222" face = "verdana"><b>Data Hackerman Purple Zone</b></font></div>
<div style = "text-align: left"><font size = 6 color = "#00008B" face = "verdana"><b>API access</b></font></div>
<div style = "text-align: leftt"><font><i>By Jerry Aremu</i></font></div>
<div style = "text-align: leftt"><font>28th April 2023</font></div>

#### import required libraries

In [3]:
import pandas as pd
import numpy as np
import warnings
import requests

#### Noteook custom settings

In [6]:
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

```api documentation page``` __[API_documentation](https://anapioficeandfire.com/Documentation)__

__API Access__

This challenge will involve querying an API and extracting information from it. The API in question provides information on Game of Thrones, allowing one to access information on the houses, characters and books.

* API URL: http://anapioficeandfire.com/api/{SECTION}/{INDEX

Where SECTION can be either ‘books’, ‘characters’, or ‘houses’ and INDEX is an integer to a certain entry in a section.

For example, to access the character Peter Baelish, the full request would be http://anapioficeandfire.com/api/characters/823, where 823 is the index corresponding to that character. 

It's recommended to read the full documentation, which can be found here: https://anapioficeandfire.com/Documentation

We would like you to answer the following:

a) What index corresponds to the house “House Breakstone”?
 
b) How many males, females and unknown genders are there in the first 40 characters? Note, index 0 does not correspond to a character, so full range is 1 - 40 both ends inclusive. 

c) How many books can be accessed from this API?

d) How many books does the character ‘High Septon’ appear in? (ignoring ‘povcharacters’) 

Hint: index value of Septon needs to be found first; it is smaller than 20.

In [10]:
api_curl = "https://www.anapioficeandfire.com/api"
api_json = requests.get(api_curl).json()
api_json

{'books': 'https://www.anapioficeandfire.com/api/books',
 'characters': 'https://www.anapioficeandfire.com/api/characters',
 'houses': 'https://www.anapioficeandfire.com/api/houses'}

#### Extract information from the three links above houses, books and character

In [14]:
base_url ="https://www.anapioficeandfire.com/api/books"
books = []

#The API returns 50 record per page hence we keep fetching till we get all records

while True:
    response = requests.get(base_url)
    if response.status_code !=200:
        print("Failed to retrieve data")
        break
    
    results = response.json()
    books.extend(results) 
    next_url = response.headers.get("Link")
    
    if not next_url or "rel='next'" not in next_url:
        break
    next_url = next_url.split(';')[0][1:-1]
    base_url = next_url

In [15]:
next_url

'<https://www.anapioficeandfire.com/api/books?page=2&pageSize=10>; rel="next", <https://www.anapioficeandfire.com/api/books?page=1&pageSize=10>; rel="first", <https://www.anapioficeandfire.com/api/books?page=2&pageSize=10>; rel="last"'

In [1]:
#pd.read_books

#### Ingest Book_data

In [4]:
url_book = "https://www.anapioficeandfire.com/api/books"
book_data = requests.get(url_book)
print(f"Status code:{book_data.status_code}")

Status code:200

In [5]:
book_data_df = pd.DataFrame(book_data.json())
book_data_df.head(2)

,url,name,isbn,authors,numberOfPages,publisher,country,mediaType,released,characters,povCharacters
0,https://www.anapioficeandfire.com/api/books/1,A Game of Thrones,978-0553103540,[George R. R. Martin],694,Bantam Books,United States,Hardcover,1996-08-01T00:00:00,[https://www.anapioficeandfire.com/api/charact...,[https://www.anapioficeandfire.com/api/charact...
1,https://www.anapioficeandfire.com/api/books/2,A Clash of Kings,978-0553108033,[George R. R. Martin],768,Bantam Books,United States,Hardback,1999-02-02T00:00:00,[https://www.anapioficeandfire.com/api/charact...,[https://www.anapioficeandfire.com/api/charact...

#### Ingest Character_data

In [7]:
url_char = "https://www.anapioficeandfire.com/api/characters"
char_data = requests.get(url_char)
print(f"Status code:{char_data.status_code}")

Status code:200

In [9]:
char_data_df = pd.DataFrame(char_data.json())
char_data_df.head(2)

,url,name,gender,culture,born,died,titles,aliases,father,mother,spouse,allegiances,books,povBooks,tvSeries,playedBy
0,https://www.anapioficeandfire.com/api/characte...,,Female,Braavosi,,,[],[The Daughter of the Dusk],,,,[],[https://www.anapioficeandfire.com/api/books/5],[],[],[]
1,https://www.anapioficeandfire.com/api/characte...,Walder,Male,,,,[],[Hodor],,,,[https://www.anapioficeandfire.com/api/houses/...,[https://www.anapioficeandfire.com/api/books/1...,[],"[Season 1, Season 2, Season 3, Season 4, Seaso...",[Kristian Nairn]

#### Ingest House_data

In [6]:
url_house = "https://www.anapioficeandfire.com/api/houses"
house_data = requests.get(url_house)
print(f"Status code:{house_data.status_code}")

Status code:200

In [8]:
house_data_df = pd.DataFrame(house_data.json())
house_data_df.head(2)

,url,name,region,coatOfArms,words,titles,seats,currentLord,heir,overlord,founded,founder,diedOut,ancestralWeapons,cadetBranches,swornMembers
0,https://www.anapioficeandfire.com/api/houses/1,House Algood,The Westerlands,"A golden wreath, on a blue field with a gold b...",,[],[],,,https://www.anapioficeandfire.com/api/houses/229,,,,[],[],[]
1,https://www.anapioficeandfire.com/api/houses/2,House Allyrion of Godsgrace,Dorne,"Gyronny Gules and Sable, a hand couped Or",No Foe May Pass,[],[Godsgrace],https://www.anapioficeandfire.com/api/characte...,https://www.anapioficeandfire.com/api/characte...,https://www.anapioficeandfire.com/api/houses/285,,,,[],[],[https://www.anapioficeandfire.com/api/charact...

In [19]:
def get_datframe(url):
    
    """this function fetches custom data via the API based on the 
    constraints specified and return the data as a dataframe"""
    
    response = requests.get(url)
    data = response.json()
    data_df = pd.DataFrame(data)
    return data_df

a). What index corresponds to the house “House Breakstone”?

In [28]:
def getting_houses_index(name):
    name_param = name={name}
    house_url = f"https://anapioficeandfire.com/api/houses/?name_param"
    url_response = requests.get(house_url)
    final_data = url_response.json()
    outcome_index = final_data[0]['url'].split('/')[-1]
    return outcome_index

In [29]:
print(f'The index corresponding to the house "House Breakstone" is: {getting_houses_index("House Breakstone")}')

The index corresponding to the house "House Breakstone" is: 1

b). How many males, females and unknown genders are there in the first 40 characters? Note, index 0 does not correspond to a character, so full range is 1 - 40 both ends inclusive.

In [26]:
gender_data_df = get_datframe("https://www.anapioficeandfire.com/api/characters?page=1&pageSize=40")
gender_data_df.head(2);

In [18]:
gender_data_df['gender'].value_counts()

Male      26
Female    14
Name: gender, dtype: int64

c) How many books can be accessed from this API?

In [25]:
total_bk_df = get_datframe('https://www.anapioficeandfire.com/api/books')
print(f"The total number of books accessible in the data is: {len(total_bk_df)}")
total_bk_df.head(2);

The total number of books accessible in the data is: 10

d) How many books does the character ‘High Septon’ appear in? (ignoring ‘povcharacters’)

In [27]:
high_septon_df = char_data_df[char_data_df['name'] =='High Septon']
high_septon_df.head(2)

Empty DataFrame
Columns: [url, name, gender, culture, born, died, titles, aliases, father, mother, spouse, allegiances, books, povBooks, tvSeries, playedBy]
Index: []